# MongoDB Configuration
MONGODB_URI=mongodb+srv://220105059:<220105059>@tsnishka774.y5bpvl5.mongodb.net/?retryWrites=true&w=majority&appName=Tsnishka774

# Authentication
NEXTAUTH_SECRET=99eb93e5e6b852ddcf93fd167d2d26122d9546b388ee1f51ea04d628e4a8d870

# ImageKit Configuration
NEXT_PUBLIC_PUBLIC_KEY=public_S3KqGP48C3JsuAiwLDQUwagzt5w=
IMAGEKIT_PRIVATE_KEY=private_b35xaLHEZ5VPQ9cYAz8yX0+1hl4=
NEXT_PUBLIC_URL_ENDPOINT=https://ik.imagekit.io/lnr1xtyi0n